<div class="header content-header well">    
	<h2 class="heading">Searched Result</h2>
</div>


<h2>Services</h2>


<% @services.each do |service| %>
	<% if service.is_approved=="Approved"%>
		<li class="odd item" data-rapid-context="service:1">      
			<a href="<%= service.id %>">
				<div class="col-xs-12 col-sm-6 col-md-3 text-center homepage-tile" style="padding: 0px">
				<!-- <img alt="Pizza" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTnr0-fVrVack3dClCxll6KYKNFT0fhNPO3D6Z_YSbipzzjIwj0"> -->
				<% if service.imageurl.present? %>
					<%=image_tag service.imageurl %>
				<%end%>
					<div class="tile-overlay text-center">                    
						<span class="tile-title"><span class="view service-name "><%= service.name %></span></span>
					</div>
				</div>
			</a>
		</li>
	<% end %>
<% end %>






