<div class="header content-header well">    
	<h2 class="heading">Searched Result</h2>
</div>


<h2>Services</h2>


<% @services.each do |service|%>
	<div class="col-md-3">
		<%=link_to "#{service.name}", service, :style=>"color: #0088cc;margin-left: 202px;" %>
	</div>
<% end%>
