<div class="header content-header well">  
  <h1 class="heading">Status</h1>
</div>


	<table class="table table-striped table-bordered collection">
	<thead>
		<tr>
		  <th>Name</th>
		  <% if current_user.is_admin? %>
	      <th style="text-align: center;">Approve</th>
	      <th style="text-align: center;">Dissaprove</th>  
	    <% else %>
	    	<th>Approve/Disapproved</th>
	    <% end %> 
		</tr>
	</thead>
	<tbody>
		<%@services.each do |service|%>
			<% if current_user.is_admin? %>
				<% if service.is_approved.nil? %>
					<tr>
						<td><%= service.name %></td>
						<td style="text-align: center;"><%= link_to "Approve", approve_path(service) ,:class=>"btn btn-primary"%></td>
						<td style="text-align: center;"><%= link_to "Dissaprove" , disapprove_path(service) ,:class=>"btn btn-primary"%></td>
					</tr>
				<% end %>
			<% else %>
				<tr>
					<td><%= service.name %></td>
					<td>
						<% if service.is_approved=="Approved"%>
							<p>Approved</p>
						<% elsif service.is_approved=="Disapproved" %>
							<p>Disapproved</p>
						<% else %>
							<p>Pending</p>
						<% end %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
