<div class="header content-header well">
	<a class="btn btn-info pull-right edit-link category-link" href="<%= edit_category_path(@category)%>" rel="nofollow">        Edit Category
	</a>    
	<h2 class="heading">Category <%= @category.name %></h2>
</div>