<header class="front-header">
  <a href="<%= root_url%>" class="logo-primary"></a>
  <div class="header-actions">
    <% if params[:controller] == "registrations" %>
      <a class="sign-in" href="<%= new_user_session_path%>">Log in</a>
    <%else%>
      <a class="btn primary cta" href="<%= new_user_registration_path %>">Join for free</a>
    <%end%>
  </div>
</header>